@{
	Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}
@{
	ViewData["Title"] = "Get to know US!";
	ViewData["Active"] = "About";
}

<div class="container-fluid py-5">
	<div class="row align-items-center gx-4">
		<div class="col-md-5">
			<div><img class="img-fluid rounded-3" src="https://archello.s3.eu-central-1.amazonaws.com/images/2020/10/19/yudin-design-california-american-style-asian-restaurant-restaurants-archello.1603105454.8262.jpg"></div>
		</div>
		<div class="col-md-6 offset-md-1" style="text-align : left !important">
			<div>
				<span class="text-muted">Our Story</span>
				<h2 class="display-5 fw-bold">About Us</h2>
				<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
				<p class="lead mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
			</div>
			<div>
				<h2 class="text-uppercase mt-4 font-weight-bold">Visit Us!</h2>
				<i class="fa fa-home mt-3 me-3"></i>Jl. Arjuno No.118, Sawahan, Kec. Sawahan Kota SBY
				Jawa Timur 60251<br>
				<i class="fa fa-phone mt-3 me-3"></i><a href="tel:+">(021) 123456</a><br>
				<i class="fa fa-envelope mt-3 me-3"></i><a href="">afewds@gmail.com</a><br>
				<div class="my-4">
					<a href=""><i class="fa fa-facebook fa-2x pr-4"></i></a>
					<a href=""><i class="fa fa-instagram fa-2x pr-4"></i></a>
					<a href=""><i class="fa fa-twitter fa-2x"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>
