@{
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}
@{
    ViewData["Title"] = "Welcome :)";
    ViewData["Active"] = "Front";
}

<div class="d-flex flex-column justify-content-center align-items-center" style="height: 100vh">

    <h2>Ultimate Taste of Asian Cuisines</h2>
    <h1 class="mt-3 mb-3 display-3"><span class="font-weight-boldest text-danger">A</span>sian Fewds</h1>
    <button class="btn btn-danger">Reserve Now!</button>
</div>
